body,iframe,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,span,a{
    margin:0;
    padding:0;
    }
    html,body{
        height: 100%;
        width: 100%;
    }
    table {
    border-collapse:collapse;
    border-spacing:0;
    }
    fieldset,img,iframe {
    border:0;
    }
    address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
    }
    ol,ul {
    list-style:none;
    }
    caption,th {
    text-align:center;
    white-space:nowrap;
    }
    h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
    }
    q:before,q:after {
    content:'';
    }
    abbr,acronym { border:0;
    }
    .clearfix:before,.clearfix:after {
      display: table;
      content: " "
    }
    
    .clearfix:after {
      clear: both
    }
    .fl{
        float: left;
    }
    .fr{
        float: right;
    }
    a {
        text-decoration: none;
    }
    /*正常的未被访问过的链接*/
    a:link {
        text-decoration: none;
    }
    /*已经访问过的链接*/
    a:visited {
        text-decoration: none;
    }
    /*鼠标划过(停留)的链接*/
    a:hover {
        text-decoration: none;
    }
    /* 正在点击的链接*/
    a:active {
        text-decoration: none;
    }